.ha-suggestions {
  padding: 2rem;
  background: white;
  border-radius: 2rem;
  margin: 0 2rem;
  width: 40vw;
  min-width: 25rem;
  height: fit-content;
}

.ha-suggestions > h3{
  color: var(--custom-blue);
  /* text-decoration: underline; */
  font-size: 2rem;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}


/* @media screen and (max-width: 900px) {
  .ha-suggestions{
    margin: 2rem 0rem;
    width: 100%;
  }

  .ha-suggestions > h3{
    text-align: left;
  }
} */