@import url("./fonts.css");

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgb(191, 191, 191);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(101, 101, 101, 0.7);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05438b;
}

.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Toastify__toast{
	font-size: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
	animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: blue;
}

@keyframes App-logo-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}

/*
*,::after,::before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.clearfix:before{
	display:table;
	content:" "
}
.clearfix:after{
	clear:both;
	width:0;
	height:0
}
a{
	text-decoration:none
}
article{
	display:block
}
img {
	max-width:100%;
	border:0;
	height:auto;
	object-fit: cover;
}
embed,iframe,object,video{
	width:100%;
	max-width:100%;
	height:auto
}
p{
	color:#616161;
	font-weight:400;
	letter-spacing:.3px;
	margin-bottom:20px
}
.color-white{
	color:#fff!important
}
.color-black{
	color:#212121!important
}
.color-red {
	color: rgb(164, 16, 52) !important;
}
.grey-section p,.white-section p{
	color:#616161!important
}
.black-section p{
	color:#dfdfdf!important
}
.hs1{
	font-size:16px;
	line-height:22px
}
.hs2{
	font-size:20px;
	line-height:26px
}
.hs3{
	font-size:34px;
	line-height:40px
}
.hs4{
	font-size:48px;
	line-height:54px
}
@media only screen and (max-width:1024px){
	.hs4{
		font-size:44px;
		line-height:50px
	}
}
@media only screen and (max-width:768px){
	.hs1{
		font-size:14px;
		line-height:18px
	}
	.hs2{
		font-size:18px;
		line-height:22px
	}
	.hs3{
		font-size:30px;
		line-height:34px
	}
	.hs4{
		font-size:40px;
		line-height:44px
	}
}

.flex-row {
	flex-direction: row !important;
}

.flex-column {
	flex-direction: column !important;
}

.flex-row-reverse {
	flex-direction: row-reverse !important;
}

.flex-column-reverse {
	flex-direction: column-reverse !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-nowrap {
	flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}

.flex-fill {
	flex: 1 1 auto !important;
}

.flex-grow-0 {
	flex-grow: 0 !important;
}

.flex-grow-1 {
	flex-grow: 1 !important;
}

.flex-shrink-0 {
	flex-shrink: 0 !important;
}

.flex-shrink-1 {
	flex-shrink: 1 !important;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-center {
	justify-content: center !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.justify-content-around {
	justify-content: space-around !important;
}

.align-items-start {
	align-items: flex-start !important;
}

.align-items-end {
	align-items: flex-end !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-baseline {
	align-items: baseline !important;
}

.align-items-stretch {
	align-items: stretch !important;
}

.align-content-start {
	align-content: flex-start !important;
}

.align-content-end {
	align-content: flex-end !important;
}

.align-content-center {
	align-content: center !important;
}

.align-content-between {
	align-content: space-between !important;
}

.align-content-around {
	align-content: space-around !important;
}

.align-content-stretch {
	align-content: stretch !important;
}

.align-self-auto {
	align-self: auto !important;
}

.align-self-start {
	align-self: flex-start !important;
}

.align-self-end {
	align-self: flex-end !important;
}

.align-self-center {
	align-self: center !important;
}

.align-self-baseline {
	align-self: baseline !important;
}

.align-self-stretch {
	align-self: stretch !important;
}

.section-heading {
	text-align:center; 
	padding: 50px;
	color: rgb(164, 16, 52);
	margin-top: 30px;
}

@media only screen and (max-width:480px) {
	.hs2{
		font-size:16px;
		line-height:20px
	}
	.hs3{
		font-size:26px;
		line-height:30px
	}
	.hs4{
		font-size:36px;
		line-height:40px
	}
}
@media only screen and (max-width:320px){
	.hs4{
		font-size:30px;
		line-height:34px
	}
	.hs3{
		font-size:22px;
		line-height:26px
	}
}
.fontalt{
	font-family:Raleway,sans-serif
}
.fontalt2{
	font-family:'Open Sans Condensed',sans-serif
}
.fontalt3{
	font-family:Pacifico,cursive
}
.fontalt4{
	font-family:'Roboto Condensed',sans-serif
}
.fontalt5{
	font-family:'Open Sans',sans-serif
}
.text-center{
	text-align:center!important
}
.text-right{
	text-align:right!important
}
.text-left{
	text-align:left!important
}
.float-left{
	float:left!important
}
.float-right{
	float:right!important
}
.full-image{
	position:relative;
	width:100%
}
.full-image img{
	max-width:100%;
	height:auto;
	vertical-align:bottom
}
.fluid-width-video-wrapper{
	padding:0;
	position:relative;
	width:100%;
	padding-top:56.25%!important
}
.relative{
	position:relative!important
}
.static{
	position:static!important
}
.absolute{
	position:absolute!important
}

.fixed{
	position:fixed!important
}
.stick-fixed{
	position:fixed!important;
	top:0;
	left:0
}
.lowercase{
	text-transform:lowercase
}
.uppercase{
	text-transform:uppercase
}
.nocase{
	text-transform:none
}
.nomargin{
	margin:0!important
}
.nopadding{
	padding:0!important
}
.zindex100{
	z-index:100!important
}
.zindex1{
	z-index:1!important
}
.zindex2{
	z-index:2!important
}
.zindex0{
	z-index:0!important
}
.four.columns:nth-child(4n+5){
	clear:left
}
@media only screen and (min-width:768px) and (max-width:959px){
	.four.columns:nth-child(2n+3){
		clear:left
	}
}
.text-italic{
	font-style:italic
}
.text-underline{
	text-decoration:underline
}
.banner-section{
	overflow:visible!important
}
@media only screen and (max-width:767px){
	.banner-image{
		margin:0 0 40px!important;
		text-align:center
	}
}
.banner-image2{
	margin:-90px 0 0!important;
	position:absolute;
	right:0;
	top:0;
	width:350px;
	z-index:2
}
.table-content{
	position:relative;
	display:table;
	height:100%;
	text-align:center;
	width:100%
}
.table-center-text{
	display:table-cell;
	height:100%;
	vertical-align:middle
}
.valign{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%)
}
.valign.fixed{
	position:fixed!important;
	width:100%!important
}
@media only screen and (max-width:1024px){
	.valign.fixed{
		position:relative!important
	}
}
@media only screen and (max-width:768px){
	.center-xs{
		text-align:center!important
	}
	.sm-bottom20-xs{
		margin-bottom:20px!important
	}
}
.readmore{
	border-bottom:1px solid #E6E6E6;
	padding:8px 0;
	font-size:13px;
	cursor:pointer;
	-webkit-transition:all .27s cubic-bezier(0,0,.58,1);
	-moz-transition:all .27s cubic-bezier(0,0,.58,1);
	-o-transition:all .27s cubic-bezier(0,0,.58,1);
	-ms-transition:all .27s cubic-bezier(0,0,.58,1);
	transition:all .27s cubic-bezier(0,0,.58,1)
}
.readmore i{
	color:rgba(32,32,32,.6);
	-webkit-transition:all .27s cubic-bezier(0,0,.58,1);
	-moz-transition:all .27s cubic-bezier(0,0,.58,1);
	-o-transition:all .27s cubic-bezier(0,0,.58,1);
	-ms-transition:all .27s cubic-bezier(0,0,.58,1);
	transition:all .27s cubic-bezier(0,0,.58,1)
}
.readmore:hover i{
	transform:translateX(5px)
}
.black-section .heading-sep,.grey-section .heading-sep,.heading-sep,.white-section .heading-sep{
	margin:25px 0;
	width:120px;
	height:4px;
	-webkit-transition:all .27s cubic-bezier(0,0,.58,1);
	-moz-transition:all .27s cubic-bezier(0,0,.58,1);
	-o-transition:all .27s cubic-bezier(0,0,.58,1);
	-ms-transition:all .27s cubic-bezier(0,0,.58,1);
	transition:all .27s cubic-bezier(0,0,.58,1)
}
.grey-section .heading-sep,.heading-sep,.white-section .heading-sep{
	background:#212121
}
.black-section .heading-sep{
	background:#FFF
}
.text-center .heading-sep{
	margin:25px auto
}
@media only screen and (max-width:768px){
	.heading-sep{
		width:80px!important
	}
}
@media only screen and (max-width:480px){
	.heading-sep{
		width:60px!important
	}
}
@media only screen and (max-width:320px){
	.heading-sep{
		width:40px!important
	}
}
hr{
	background-color:#E6E6E6;
	border-color:#E6E6E6
}
hr.white{
	background:rgba(255,255,255,.35);
	border-color:rgba(255,255,255,.35)
}
hr.black{
	background:rgba(0,0,0,.85);
	border-color:rgba(0,0,0,.85)
}
.col{
	float:left;
	padding-left:.9375rem;
	padding-right:.9375rem;
	position:relative
}
.col1{
	width:100%
}
.col2{
	width:50%
}
.col3{
	width:33.3%
}
.col4{
	width:25%
}

@media only screen and (max-width:768px){
	.col1,.col2,.col3{
		width:100%
	}
	.col1.nopadding-xs,.col2.nopadding-xs{
		padding:0
	}
	.col4{
		width:50%
	}
}

@media only screen and (max-width:480px){
	.col4{
		width:100%
	}
}
*/

.bg-blue {
	background-color: #05438b !important;
}

.bg-orange {
	background-color: #ffbb0088
}

.text-blue {
	color: #05438b;
}

.text-hred {
	color: #c14b47;
}

.border-hred {
	border-color: #c14b47;
}

.border-blue {
	border: 2px solid #05438b;
}

.caret-off::after, .caret-off::before {
	display:none !important;
}

.shift-12vh {
	top: 12vh;
}

.shift-18vw {
	left: 18vw;
}

.spin {
	-webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.spin-slow {
	-webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.parallax {
	
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
